<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Feedback Popup</string>
			<key>Key</key>
			<string>feedback_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Feedback Interval</string>
			<key>Key</key>
			<string>feedback_interval</string>
			<key>DefaultValue</key>
			<integer>10</integer>
			<key>Titles</key>
			<array>
				<string>5 records</string>
				<string>10 records</string>
				<string>20 records</string>
				<string>30 records</string>
			</array>
			<key>Values</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string># Records Since Last Feedback</string>
			<key>Key</key>
			<string>feedback_counter</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
